<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Easy</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="flex-column justify-space-around">
    <main>
            {{{body}}}
    </main>
    <footer>

    </footer>
    </div>
  
</body>
</html>