<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>DB Easy</title>
     <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
        <h1>

        </h1>
        <nav>
            {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button class="no-button" id="logout">Logout</button>
            {{/if}}
            </nav>
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <footer>

    </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>