body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    background-color: #868686;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.navbar h1 {
    margin: 0;
}

.main-button {
    background-color: #d9d9d9;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.go-back-btn {
    margin: 10px 0 10px 10px;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    margin-top: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin: 0;
}

.input-box {
    border: none;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.double-size {
    width: calc(100% * 2 - 20px);
}

.save-btn {
    margin: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #ffffff;
    cursor: pointer;
    align-self: flex-end;
}
