body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav {
    background-color: #868686;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.schedule-buttons-container button {
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    
}

.schedule-buttons {
    text-align: center;
}

.schedule-buttons button {
    margin: 20px;
    padding: 30px;
    border: none;
    cursor: pointer;
    background-color: #d9d9d9;
    font-size: 18px;
}

#myDogs {
    text-align: center;
    margin-top: 20px;
}

#dogButtons {
    margin-top: 10px;
}

#dogButtons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}