<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/css/homepage.css" />
    <title>Homepage Handlebars</title>
</head>

<body>

    <nav>
        <h1>Client Dash</h1>
        <div>
            <button class="main-button">Welcome {{clientName}}</button>
            <button class="main-button">Log Out</button>
        </div>
    </nav>

    <div class="container">
        <h1>Schedule</h1>

        <div class="buttons-container">
            <button class="main-button">Boarding</button>
            <button class="main-button">Training</button>
            <button class="main-button">Daycare</button>
        </div>

        <h2>My Dogs</h2>

        <button id="addDogButton" class="add-dog-button">Add new dog</button>

        <div id="dogContainer"></div>
    </div>

    <script src="./public/js/homepage.js"></script>

</body>

</html>
