<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/css/homepage.css" />
    <title>Homepage Handlebars</title>
</head>
<nav>
    <div>Client Dash</div>
    <div class="nav-buttons">
        <button>Welcome 'client's name'</button>
        <button>Logout</button>
    </div>
</nav>

<h1>Schedule</h1>

<div class="schedule-buttons-container">
    <button>Boarding</button>
    <button>Training</button>
    <button>Daycare</button>
</div>

<div id="myDogs">
    <h2>My Dogs</h2>
    <div id="dogButtons">
        <button>
            <img src="placeholder.jpg" alt="Dog Image" width="50" height="50">
            Client's Dog
        </button>
        <button>Add new dog</button>
    </div>
</div>

<body>
    
</body>
</html>