<nav>
    <h1>Client Dash</h1>
    <div>
        <button class="main-button">Welcome {{ user.first_name }}</button>
        <form action="/logout" method="post">
            <button class="main-button" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1>Schedule</h1>

    <div class="buttons-container">
        <button class="main-button">Boarding</button>
        <button class="main-button">Training</button>
        <button class="main-button">Daycare</button>
    </div>

    <h2>My Dogs</h2>
    {{#each user.dogs as |dog|}}
    <p>{{dog.name}}</p>
    {{/each}}
    <a href="/newdog" id="addDogButton" class="add-dog-button">Add new dog</a>
    <div id="dogContainer">
        {{#each user.dogs}}
        <p>{{this.name}} - {{this.breed}}</p>
        {{/each}}
    </div>
</div>