<h2><center>Scheduling</center></h2>
<div class="container">
    <div id="calendar"></div>

    <button type="button" class="btn btn-success" id="createEventButton">Create Event</button>

    <button type="button" class="btn btn-danger" id="deleteDayButton">Delete Events for Selected Day</button>

    <div id="createEventModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Event</h4>
                </div>
                <div class="modal-body">
                   
                    <form id="eventForm">
                        <div class="form-group">
                            <label for="eventTitle">Event Title:</label>
                            
                            <select class="form-control" id="eventTitle">
                                <option value="Boarding">Boarding</option>
                                <option value="Daycare">Daycare</option>
                                <option value="Training">Training</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="eventDate">Date:</label>
                            <input type="date" class="form-control" id="eventDate">
                        </div>
                        <button type="button" class="btn btn-primary" id="submitButton">Add Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./public/js/Schedule.js"></script>