<div class="logo-placeholder">DB EZ Logo</div>

<div class="container">
  <h2>Sign Up</h2>

  <form id="signup-form" action="/signup" method="post">
    <div class="input-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName-signup" name="firstName" required>
    </div>

    <div class="input-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName-signup" name="lastName" required>
    </div>

    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" id="email-signup" name="email" required>
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password-signup" name="password" required>
    </div>

    <div class="signup-button">
      <button class="signup-button" type="submit">Sign Up</button>
    </div>
  </form>
</div>