body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: pink; /* Set the background color to pink */
}

.input-group {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

.logo-placeholder {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #97cdd4;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.signup-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
